---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=5&screen_name=@rdakfjdkfsf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<ConsumerKey>", oauth_nonce="2d3032753c2de1c59bfd5b30da8490ba",
        oauth_signature="DUeduql6GyLlkDTQMfunBpcxX2I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387137382", oauth_token="<AccessToken>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 15 Dec 2013 19:56:23 GMT
      Status:
      - 404 Not Found
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1387138283'
      X-Tfe-Logging-1-Request-Category:
      - API
      X-Tfe-Logging-2-Request-Category:
      - API
      X-Transaction:
      - 2bc8f3e290a57735
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Sorry, that page does not exist","code":34}]}'
  recorded_at: Sun, 15 Dec 2013 19:56:22 GMT
recorded_with: VCR 2.8.0
