---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=5&screen_name=@rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<ConsumerKey>", oauth_nonce="1e804bd2a235533547ab1d8449efbeca",
        oauth_signature="7Kljoho9IZBp4HFOR91kBaf%2BBQo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387084123", oauth_token="<AccessToken>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 15 Dec 2013 05:08:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '162'
      X-Rate-Limit-Reset:
      - '1387084221'
      X-Tfe-Logging-1-Request-Category:
      - API
      X-Tfe-Logging-2-Request-Category:
      - API
      X-Transaction:
      - 5347e08d8b588c64
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Dec 04 19:10:38 +0000 2013","id":408312407678025728,"id_str":"408312407678025728","text":"RT
        @bitsweat: One weird trick to split up monolithic Ruby classes, discovered
        by stay-at-home programmer https:\/\/t.co\/mw3G64KywL","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3116191,"id_str":"3116191","name":"Ruby
        on Rails","screen_name":"rails","location":"","description":"Web development
        that doesn''t hurt","url":"http:\/\/t.co\/3rEOOSt3oZ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/3rEOOSt3oZ","expanded_url":"http:\/\/rubyonrails.org","display_url":"rubyonrails.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":61082,"friends_count":24,"listed_count":2856,"created_at":"Sun
        Apr 01 10:20:11 +0000 2007","favourites_count":0,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":352,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"EBEBEB","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme7\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000296761640\/2e69482e09113a93ccdd109c36f7fca7_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000296761640\/2e69482e09113a93ccdd109c36f7fca7_normal.png","profile_link_color":"990000","profile_sidebar_border_color":"DFDFDF","profile_sidebar_fill_color":"F3F3F3","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Dec 04 18:59:53 +0000 2013","id":408309700778655744,"id_str":"408309700778655744","text":"One
        weird trick to split up monolithic Ruby classes, discovered by stay-at-home
        programmer https:\/\/t.co\/mw3G64KywL","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":9462972,"id_str":"9462972","name":"Jeremy
        Kemper","screen_name":"bitsweat","location":"Phoenix, AZ","description":"Building
        it: 37signals, Ruby on Rails","url":"http:\/\/t.co\/8LvrB9lMoC","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/8LvrB9lMoC","expanded_url":"http:\/\/bitsweat.net","display_url":"bitsweat.net","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6905,"friends_count":996,"listed_count":512,"created_at":"Mon
        Oct 15 20:57:25 +0000 2007","favourites_count":261,"utc_offset":-25200,"time_zone":"Arizona","geo_enabled":false,"verified":false,"statuses_count":2232,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000304627384\/0c9b57d782667f55214c075c996cf731_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000304627384\/0c9b57d782667f55214c075c996cf731_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":34,"favorite_count":61,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"https:\/\/t.co\/mw3G64KywL","expanded_url":"https:\/\/github.com\/37signals\/concerning","display_url":"github.com\/37signals\/conc\u2026","indices":[91,114]}],"user_mentions":[]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":34,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"https:\/\/t.co\/mw3G64KywL","expanded_url":"https:\/\/github.com\/37signals\/concerning","display_url":"github.com\/37signals\/conc\u2026","indices":[105,128]}],"user_mentions":[{"screen_name":"bitsweat","name":"Jeremy
        Kemper","id":9462972,"id_str":"9462972","indices":[3,12]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
      [...]
